*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: helvetica;
	font-weight: bold;
	font-style: italic;
}
html,body{
	height: 100%;
}
header{
	width: 100%;
	height: 100px;
	background-color: #f57c00;
	text-align: center;
	padding: 5px;
	color: white;
}
header h1{
	font-size: 34px;
	margin-top: 17px;
	line-height: center;
}
section{
	width: 100%;
	background-color: #7c4dff;
	text-align: center;
}
.logo{
	height: 350px;
}
.logo-img{
	margin-top: 120px;
	width: 350px;
}
.cursos-contaier{
	display: flex;
	justify-content: center;
	margin-top: 80px;
	padding-bottom: 160px;
}
.curso{
	width: 210px;
	height: 160px;
	margin: 20px;
	color: white;
	background-color: #66bb6a;
}
.curso2{
	background-color: #ef5350;
}
.curso3{
	background-color: #42a5f5;
}
section h2{
	font-size: 38px;
	margin-top: 32px;
}
section h3{
	width: 170px;
	position: absolute;
	top: 770px;
	right: 2%;
	color: white;
	font-size: 24px;
}

.form-contaier{
	text-align: center;
	background-color: #ccc;
	padding: 20px;
}
input[type=text]{
	width: 300px;
	height: 45px;
    border: 1px solid black;
    line-height: 45px;
    padding-left: 10px;
}
input[type=button]{
	width: 100px;
	height: 40px;
	color: white;
	background-color: #f57c00;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 5px 0px rgba(117,117,117,1);
    border-radius: 12px;
    border: 0;
}

@media screen and (max-width: 773px){

	.cursos-contaier{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 80px;
		padding-bottom: 100px;
	}
	section h3{
		width: 170px;
		position: absolute;
		top: 900px;
		right: 2%;
		color: white;
		font-size: 24px;
	}

}
@media screen and (max-width: 524px){
	.cursos-contaier{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 80px;
		padding-bottom: 50px;
	}
	section h3{
		position: relative;
		top:0;
		left:50%;
		margin-left: -80px;

	}
}
/*.arrow{
	position: relative;
	top:60px;
	left:50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
}*/